<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <script>
        window.onload=function () {
            new Vue({
                el:".app",
                data:{
                    show_list:['学习html', '学习python', '学习 C'],
                    add_content:""
                },
                methods:{
                    add:function(){
                        if (this.add_content == ""){
                            alert("内容不能为空");
                            return
                        }
                        this.show_list.push(this.add_content);
                        this.add_content = ""

                    },
                    del:function (index) {
                        this.show_list.splice(index,1)
                    },
                    down:function (index) {
                        var value=this.show_list[index];
                        this.show_list.splice(index,1);
                        this.show_list.splice(index+1,0,value)
                    },
                    up:function (index) {
                        if (index == 0){
                            return
                        }

                        var value=this.show_list[index];
                        this.show_list.splice(index,1);
                        this.show_list.splice(index-1,0,value)

                    }
                }
            })
        };
    </script>
</head>
<body>
<div class="app">
<h1>To Do List</h1>
<p>
    <input type="text" v-model="add_content">
    <input type="button" value="增加" @click="add">
</p>
    <ul>
        <li v-for="temp,index in show_list">{{temp}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" @click="del(index)">删除</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" @click="down(index)">↓</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" @click="up(index)">↑</a>
        </li>

    </ul>
</div>
</body>
</html>